TG_BOT_TOKEN='1234567890:AAGP_irnvdfnovimsdkmvodfnvbdsfvkmosdinc'
VK_BOT_TOKEN='1234567890qwertyuiuioofl'
SECRET_KEY='#'
ALLOWED_HOSTS='0.0.0.0'
DEBUG='True'

ENGINE_DB='sqlite'
NAME_DB='unakovskaya_bot'
USER_DB='nikolay'
PASSWORD_DB='Qwerty12345#'
HOST_DB='localhost'
PORT_DB='5432'

WEBHOOK_PATH_VK = ''

BASE_URL=''
WEBHOOK_PATH_TG = ''
TG_BOT_HOST = '127.0.0.1'
TG_BOT_PORT = '8080'

TG_BOT_USER_ADMIN = '00000000'

DELAY_LINK = '10'
DELAY_TG_MAIL = '0.2'
DELAY_VK_MAIL = '0.2'
